<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link th:href="@{/static/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/static/jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css}" type="text/css" rel="stylesheet" />

<script type="text/javascript" th:src="@{/static/jquery/jquery-1.11.1-min.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/bootstrap-datetimepicker-master/locale/bootstrap-datetimepicker.zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/vue.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/axios.min.js}"></script>

<script type="text/javascript">

	$(function(){
		//创建vue对象
		var vue=new Vue({
			el:'#content',
			data:{
				page:{
					pageSize:10,
					pageNum:1,
					total:0
				},
				infoList:{

				},
				//搜索参数
				title:'',
				infotype:'',
				startDate:'',
				endDate:'',

				//创建参数
				createTitle:'',
				createInfotype:'',
				createContent:'',

				//修改参数
				id:'',
				editTitle:'',
				editInfotype:'',
				editContent:'',

				//删除参数
				ids:''
			},
			methods:{
				createInfo:function () {
					axios({
						url:'/workbench/information/createInfo',
						method:'post',
						params:{
							iTitle:this.createTitle,
							iInfotype:this.createInfotype,
							iContent:this.createContent
						}
					})
					.then(function (value) {
						if(value.data.code=="1"){
							//更新信息列表
							var infoHtml="";
							infoHtml+="<tr id=\"tr_"+value.data.retObject.iId+"\">";
							infoHtml+="<td><input type=\"checkbox\" id=\""+value.data.retObject.iId+"\"/></td>";
							infoHtml+="<td><a style=\"text-decoration: none; cursor: pointer;\">"+value.data.retObject.iTitle+"</a></td>";
							infoHtml+="<td>"+value.data.retObject.eid+"</td>";
							infoHtml+="<td>"+value.data.retObject.iTime+"</td>";
							infoHtml+="<td id=\"td_"+value.data.retObject.iId+"\">"+value.data.retObject.iInfotype+"</td>";
							infoHtml+="</tr>";
							$("#infoListTable").append(infoHtml);
							//刷新总记录数
							vue.page.total+=1;
							//关闭模态窗口
							$("#createInfoModal").modal("hide");
						}else{
							alert(value.data.message);
						}
					});
				},
				queryInfoForPageByCondition:function () {
					axios({
						url:'/workbench/information/queryInfoForPageByCondition',
						method:'post',
						params:{
							iTitle:this.title,
							iInfotype:this.infotype,
							startDate:this.startDate,
							endDate:this.endDate,
							pageSize:this.page.pageSize,
							pageNum:this.page.pageNum
						}
					})
					.then(function (value) {
						vue.page=value.data.page;
						vue.infoList=value.data.infoList;

						//刷新页码栏状态
						if(vue.page.hasPreviousPage){
							$("#paginationUl li[class='isPrePage disabled']").attr("class","isPrePage");
						}else{
							$("#paginationUl li[class='isPrePage']").attr("class","isPrePage disabled");
						}
						if(vue.page.hasNextPage){
							$("#paginationUl li[class='isNextPage disabled']").attr("class","isNextPage");
						}else{
							$("#paginationUl li[class='isNextPage']").attr("class","isNextPage disabled");
						}
						$("#paginationUl li[class='pageNum active']").attr("class","pageNum");
						$("#paginationUl li[id='li_"+vue.page.pageNum+"']").attr("class","pageNum active");
					});
				},
				queryInfoById:function () {
					axios({
						url:'/workbench/information/queryInfoById',
						method:'post',
						params:{
							iId:this.id
						}
					})
					.then(function (value) {
						vue.editTitle=value.data.iTitle;
						vue.editInfotype=value.data.iInfotype;
						vue.editContent=value.data.iContent;
					});
				},
				alterInfo:function () {
					axios({
						url:'/workbench/information/alterInfo',
						method:'post',
						params:{
							iId:this.id,
							iTitle:this.editTitle,
							iInfotype:this.editInfotype,
							iContent:this.editContent
						}
					})
					.then(function (value) {
						if(value.data.code=="1"){
							//刷新复选框状态
							$("#infoTbody input[type='checkbox']:checked").attr("checked",false);
							//刷新信息列表
							$("#tr_"+value.data.retObject.iId+" a").text(value.data.retObject.iTitle);
							$("#td_"+value.data.retObject.iId).text(value.data.retObject.iInfotype);
							//关闭模态窗口
							$("#editInfoModal").modal("hide");
							//提示
							alert("修改成功！");
						}else{
							alert(value.data.message);
						}
					});
				},
				dropInfoByIds:function () {
					axios({
						url:'/workbench/information/dropInfoByIds',
						method:'post',
						data:this.ids
					})
					.then(function (value) {
						if(value.data.code=="1"){
							var num=0;
							//刷新信息列表
							var checked=$("#infoTbody input[type='checkbox']:checked");
							checked.each(function () {
								$("#tr_"+this.value).remove();
								num+=1;
							});
							//刷新总记录数
							vue.page.total-=num;
							//提示
							alert("删除成功！");
						}else{
							alert(value.data.message);
						}
					});
				}
			}
		});

		//页面加载时，刷新信息列表
		vue.queryInfoForPageByCondition();

		//给创建按钮添加单击事件
		$("#createInfoBtn").click(function () {
			//清空表单
			vue.createTitle="";
			vue.createInfotype="";
			vue.createContent="";
			//显示创建信息的模态窗口
			$("#createInfoModal").modal("show");
		});

		//给保存按钮添加单击事件
		$("#saveInfoBtn").click(function () {
			//表单验证
			if(vue.createTitle==""){
				alert("信息标题不可为空！");
				return;
			}
			if(vue.createInfotype==""){
				alert("信息类别不可为空！");
				return;
			}
			if(vue.createContent==""){
				alert("信息内容不可为空！");
				return;
			}
			//异步请求创建信息
			vue.createInfo();
		});

		//给修改按钮添加单击事件
		$("#editInfoBtn").click(function () {
			//验证
			var checked=$("#infoTbody input[type='checkbox']:checked");
			if(checked.size()==0 || checked.size()>1){
				alert("请选择一项信息！");
				return;
			}
			//给vue赋值
			vue.id=checked.val();
			//初始化修改信息的模态窗口
			vue.queryInfoById();
			//显示修改信息的模态窗口
			$("#editInfoModal").modal("show");
		});

		//给更新按钮添加单击事件
		$("#updateInfoBtn").click(function () {
			//表单验证
			if(vue.editTitle==""){
				alert("标题不可为空！");
				return;
			}
			if(vue.editInfotype==""){
				alert("类别不可为空！");
				return;
			}
			if(vue.editContent==""){
				alert("内容不可为空！")
				return;
			}

			//修改信息
			vue.alterInfo();
		});

		//给删除按钮添加单击事件
		$("#dropInfoBtn").click(function () {
			var checked=$("#infoTbody input[type='checkbox']:checked");
			//验证
			if(checked.size()==0){
				alert("请选择至少一项信息！");
				return;
			}
			if(!window.confirm("是否确定删除？")){
				return;
			}
			//获取参数
			var ids="";
			checked.each(function () {
				ids+='ids='+this.value+'&';
			});
			ids=ids.substr(0,ids.lastIndexOf("&"));
			//为vue对象赋值
			vue.ids=ids;
			//批量删除
			vue.dropInfoByIds();
		});

		//给页面大小下拉框添加单击事件
		$("#pageSizeUl a").click(function () {
			//获取参数
			var pageSize=parseInt($(this).text());
			//验证
			if(pageSize==vue.page.pageSize){
				return;
			}
			//为vue对象赋值
			vue.page.pageSize=pageSize;
			//刷新信息列表
			vue.queryInfoForPageByCondition();
		});

		//给页码栏添加单击事件
		$("#paginationUl li[class='isPrePage']").click(function () {
			//为vue对象赋值
			if($(this).children().text()=="首页"){
				vue.page.pageNum=1;
			}else{
				vue.page.pageNum-=1;
			}
			//刷新信息列表
			vue.queryInfoForPageByCondition();
		});

		$("#paginationUl").on("click","li[class='pageNum']",function () {
			vue.page.pageNum=parseInt($(this).children().text());
			//刷新信息列表
			vue.queryInfoForPageByCondition();
		});

		$("#paginationUl li[class='isNextPage']").click(function () {
			//为vue对象赋值
			if($(this).children().text()=="尾页"){
				vue.page.pageNum=vue.page.pages;
			}else{
				vue.page.pageNum+=1;
			}
			//刷新信息列表
			vue.queryInfoForPageByCondition();
		});

		//给信息内容超链接添加单击事件
		$("#infoTbody").on("click","a",function () {
			var id=$(this).attr("value");
			window.location.href='/workbench/information/toDetail?id='+id;
		});
	});
	
</script>
</head>
<body>
<div id="content">
	<!-- 创建信息的模态窗口 -->
	<div class="modal fade" id="createInfoModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 85%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel1">创建信息</h4>
				</div>
				<div class="modal-body">
				
					<form id="createInfoForm" class="form-horizontal" role="form">
					
						<div class="form-group">
                            <label for="create-title" class="col-sm-2 control-label">标题<span style="font-size: 15px; color: red;">*</span></label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="create-title" v-model="createTitle">
                            </div>
						</div>

						<div class="form-group">
							<label for="create-infoType" class="col-sm-2 control-label">类别<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" id="create-infoType" v-model="createInfotype">
									<option></option>
									<option th:each="infoType : ${infoTypeList}" th:text="${infoType.value}" th:value="${infoType.id}">养生</option>
									<!--									<option>lisi</option>-->
									<!--									<option>wangwu</option>-->
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="create-content" class="col-sm-2 control-label">内容<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3" id="create-content" v-model="createContent"></textarea>
							</div>
						</div>
						
					</form>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="saveInfoBtn" type="button" class="btn btn-primary">保存</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 修改信息的模态窗口 -->
	<div class="modal fade" id="editInfoModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 85%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel2">修改信息</h4>
				</div>
				<div class="modal-body">
				
					<form class="form-horizontal" role="form">
					
						<div class="form-group">
                            <label for="edit-title" class="col-sm-2 control-label">标题<span style="font-size: 15px; color: red;">*</span></label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-title" value="发传单" v-model="editTitle">
                            </div>
						</div>

						<div class="form-group">
							<label for="edit-infoType" class="col-sm-2 control-label">类别<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" id="edit-infoType" v-model="editInfotype">
									<option th:each="infoType : ${infoTypeList}" th:text="${infoType.value}" th:value="${infoType.id}">养生</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label for="edit-content" class="col-sm-2 control-label">内容</label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3" id="edit-content" v-model="editContent">市场活动Marketing，是指品牌主办或参与的展览会议与公关市场活动，包括自行主办的各类研讨会、客户交流会、演示会、新产品发布会、体验会、答谢会、年会和出席参加并布展或演讲的展览会、研讨会、行业交流会、颁奖典礼等</textarea>
							</div>
						</div>
						
					</form>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="updateInfoBtn" type="button" class="btn btn-primary">更新</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 导入信息的模态窗口 -->
    <div class="modal fade" id="importInfoModal" role="dialog">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">导入信息</h4>
                </div>
                <div class="modal-body" style="height: 350px;">
                    <div style="position: relative;top: 20px; left: 50px;">
                        请选择要上传的文件：<small style="color: gray;">[仅支持.xls]</small>
                    </div>
                    <div style="position: relative;top: 40px; left: 50px;">
                        <input type="file" id="activityFile">
                    </div>
                    <div style="position: relative; width: 400px; height: 320px; left: 45% ; top: -40px;" >
                        <h3>重要提示</h3>
                        <ul>
                            <li>操作仅针对Excel，仅支持后缀名为XLS的文件。</li>
                            <li>给定文件的第一行将视为字段名。</li>
                            <li>请确认您的文件大小不超过5MB。</li>
                            <li>默认情况下，字符编码是UTF-8 (统一码)，请确保您导入的文件使用的是正确的字符编码方式。</li>
                            <li>建议您在导入真实数据之前用测试文件测试文件导入功能。</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="importActivityBtn" type="button" class="btn btn-primary">导入</button>
                </div>
            </div>
        </div>
    </div>
	
	
	<div>
		<div style="position: relative; left: 10px; top: -10px;">
			<div class="page-header">
				<h3>信息列表</h3>
			</div>
		</div>
	</div>
	<div style="position: relative; top: -20px; left: 0px; width: 100%; height: 100%;">
		<div style="width: 100%; position: absolute;top: 5px; left: 10px;">
		
			<div class="btn-toolbar" role="toolbar" style="height: 80px;">
				<form class="form-inline" role="form" style="position: relative;top: 8%; left: 5px;">
				  
				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">标题</div>
				      <input class="form-control" type="text" v-model="title">
				    </div>
				  </div>

				  <div class="form-group">
					  <div class="input-group">
						  <div class="input-group-addon">类别</div>
						  <select class="form-control" v-model="infotype">
							  <option></option>
							  <option th:each="infoType : ${infoTypeList}" th:text="${infoType.value}" th:value="${infoType.id}">养生</option>
						  </select>
					  </div>
				  </div>

				  <div class="form-group">
					  <div class="input-group">
						  <div class="input-group-addon">开始日期</div>
						  <input class="form-control editDate" type="text" id="start-date" v-model="startDate" readonly/>
					  </div>
				  </div>

				  <div class="form-group">
					  <div class="input-group">
						  <div class="input-group-addon">结束日期</div>
						  <input class="form-control editDate" type="text" id="end-date" v-model="endDate" readonly>
					  </div>
				  </div>
				  
				  <button type="submit" class="btn btn-default">查询</button>
				  
				</form>
			</div>
			<div class="btn-toolbar" role="toolbar" style="background-color: #F7F7F7; height: 50px; position: relative;top: 5px;">
				<div class="btn-group" style="position: relative; top: 18%;">
				  <button id="createInfoBtn" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> 创建</button>
				  <button id="editInfoBtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> 修改</button>
				  <button id="dropInfoBtn" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span> 删除</button>
				</div>
				<div class="btn-group" style="position: relative; top: 18%;">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#importActivityModal" ><span class="glyphicon glyphicon-import"></span> 上传列表数据（导入）</button>
                    <button id="exportActivityAllBtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-export"></span> 下载列表数据（批量导出）</button>
                    <button id="exportActivityXzBtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-export"></span> 下载列表数据（选择导出）</button>
                </div>
			</div>
			<div style="position: relative;top: 10px;">
				<table id="infoListTable" class="table table-hover">
					<thead id="infoAllThead">
						<tr style="color: #B3B3B3;">
							<td><input type="checkbox" /></td>
							<td>标题</td>
                            <td>发布者</td>
							<td>发布日期</td>
							<td>信息类别</td>
						</tr>
					</thead>
					<tbody id="infoTbody">
						<tr :id="'tr_'+info.iId" class="active" v-for="info in infoList">
							<td><input type="checkbox" :value="info.iId" /></td>
							<td><a style="text-decoration: none; cursor: pointer;" :value="info.iId">{{info.iTitle}}</a></td>
                            <td>{{info.eid}}</td>
							<td>{{info.iTime}}</td>
							<td :id="'td_'+info.iId">{{info.iInfotype}}</td>
						</tr>
<!--                        <tr class="active">-->
<!--                            <td><input type="checkbox" /></td>-->
<!--                            <td><a style="text-decoration: none; cursor: pointer;" onclick="window.location.href='detail.html';">发传单</a></td>-->
<!--                            <td>zhangsan</td>-->
<!--                            <td>2020-10-10</td>-->
<!--                            <td>2020-10-20</td>-->
<!--                        </tr>-->
					</tbody>
				</table>
			</div>
			
			<div style="height: 50px; position: relative;top: 30px;">
				<div>
					<button type="button" class="btn btn-default" style="cursor: default;">共<b>{{page.total}}</b>条记录</button>
				</div>
				<div class="btn-group" style="position: relative;top: -34px; left: 110px;">
					<button type="button" class="btn btn-default" style="cursor: default;">显示</button>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{{page.pageSize}}
							<span class="caret"></span>
						</button>
						<ul id="pageSizeUl" class="dropdown-menu" role="menu">
							<li><a href="#">10</a></li>
							<li><a href="#">20</a></li>
							<li><a href="#">30</a></li>
						</ul>
					</div>
					<button type="button" class="btn btn-default" style="cursor: default;">条/页</button>
				</div>
				<div style="position: relative;top: -88px; left: 285px;">
					<nav>
						<ul id="paginationUl" class="pagination">
							<li class="isPrePage"><a href="#">首页</a></li>
							<li class="isPrePage"><a href="#">上一页</a></li>
							<li :id="'li_'+pageNum" v-for="pageNum in page.navigatepageNums" class="pageNum"><a href="#">{{pageNum}}</a></li>
<!--							<li class="active"><a href="#">2</a></li>-->
<!--							<li><a href="#">3</a></li>-->
<!--							<li><a href="#">4</a></li>-->
<!--							<li><a href="#">5</a></li>-->
							<li class="isNextPage"><a href="#">下一页</a></li>
							<li class="isNextPage"><a href="#">末页</a></li>
						</ul>
					</nav>
				</div>
			</div>
			
		</div>
		
	</div>
</div>
</body>
</html>