<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link th:href="@{/static/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
<script type="text/javascript" th:src="@{/static/jquery/jquery-1.11.1-min.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>

<script type="text/javascript">
	$(function(){

	});
	
</script>

</head>
<body>
	<!-- 返回按钮 -->
	<div style="position: relative; top: 35px; left: 10px;">
		<a href="javascript:void(0);" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left" style="font-size: 20px; color: #DDDDDD"></span></a>
	</div>
	
	<!-- 大标题 -->
	<div style="position: relative; left: 40px; top: -30px;">
		<div class="page-header">
			<h3><span th:text="${registered.pid}">李四先生</span></h3>
		</div>
	</div>
	
	<br/>
	<br/>
	<br/>

	<!-- 详细信息 -->
	<div style="position: relative; top: -70px;">
		<div style="position: relative; left: 40px; height: 30px;">
			<div style="width: 300px; color: gray;">用户名称</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${registered.pid}">李四先生</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">联系电话</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b th:text="${registered.pPhone}">zhangsan</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 10px;">
			<div style="width: 300px; color: gray;">宠物名称</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${registered.pName}">动力节点</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">宠物类别</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b th:text="${registered.pType}">CTO</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 20px;">
			<div style="width: 300px; color: gray;">宠物品种</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b  th:text="${registered.pBreed}">lisi@bjpowernode.com</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">挂号时间</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b th:text="${registered.rDate}">010-84846003</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 30px;">
			<div style="width: 300px; color: gray;">所属科室</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${registered.rDepartment}">http://www.bjpowernode.com</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">金额</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b th:text="${registered.rPrice}">12345678901</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 50px;">
			<div style="width: 300px; color: gray;">医生名称</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b th:text="${registered.doctor}">zhangsan&nbsp;&nbsp;</b></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 60px;">
			<div style="width: 300px; color: gray;">创建者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b th:text="${registered.eid}">zhangsan&nbsp;&nbsp;</b></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
	</div>

	<div style="height: 200px;"></div>
</body>
</html>